@using Newtonsoft.Json
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    @Html.ActionLink("Home", "Index", "Home") | 
    @Html.ActionLink("Fans", "Index", "Fans") | 
    @Html.ActionLink("SportClubs", "Index", "SportClubs")
</header>
<br/>
    <div>
        @RenderBody()
    </div>
<footer>
</footer>
</body>
</html>
